body{
    background-color:  green;
    margin: 100px 600px;
}
.h1{
    background-color: brown;
    padding: 20px;
    color: white;
    text-align: center;
}
.div{
    padding: 8px;
    text-align: center;
    width: 600px;
    background-color: black;
    border: 3px solid red;
    
    margin: 50px -120px;
}
.p{
    color: white;
    margin: 4px;
    text-align: center;
    background-color: aqua;
  margin: 15px;

}
.p2{
    color: white;
    margin: 4px;
    text-align: center;
    background-color: aqua;
margin: 15px;
}